# Exercício

O dataset utilizado neste execício é o [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries), disponibilizado em uma competição do Kaggle.

In [12]:
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format

### Faça a leitura do arquivo "Salaries.csv"

In [13]:
df = pd.read_csv('../../data/Salaries.csv')

In [14]:
df.head(3)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,"167,411.18",0.00,"400,184.25",nan,"567,595.43","567,595.43",2011,nan,San Francisco,nan
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),"155,966.02","245,131.88","137,811.38",nan,"538,909.28","538,909.28",2011,nan,San Francisco,nan
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),"212,739.13","106,088.18","16,452.60",nan,"335,279.91","335,279.91",2011,nan,San Francisco,nan

### Apresente algumas informações sobre o dataframe com .info()

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

### Qual a média de valores na coluna "BasePay"

In [17]:
df['BasePay'].mean()

66325.4488404877

### Qual o maior valor da coluna "OvertimePay"

In [18]:
df['OvertimePay'].max()

245131.88

### Qual o "JobTitle" de ALBERT PARDINI (EmployeeName) ?

In [21]:
df[df['EmployeeName'] == 'ALBERT PARDINI']['JobTitle']

2    CAPTAIN III (POLICE DEPARTMENT)
Name: JobTitle, dtype: object

### Qual o salário de ALBERT PARDINI, incluindo os benefícios (TotalPayBenefits)?

In [22]:
df[df['EmployeeName'] == 'ALBERT PARDINI']['TotalPayBenefits']

2   335,279.91
Name: TotalPayBenefits, dtype: float64

### Qual o nome da pessoa com o maior salário? E quem tem o menor salário?

In [31]:
a = [df[df.BasePay == df.BasePay.max()]['EmployeeName'],
     df[df.BasePay == df.BasePay.min()]['EmployeeName']]

[72925    Gregory P Suhr
 Name: EmployeeName, dtype: object, 72832    Irwin Sidharta
 Name: EmployeeName, dtype: object]

### Qual a média salarial dos funcionários de 2011 a 2014? E qual a média do salário por ano?

In [36]:
df[df['Year']>=2011 & df['Year']<=2014]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

### Qual o desvio padrão dos salários, incluindo os benefícios?

### Quantas pessoas estão dentro do intervalo de 1 desvio padrão?

========================================================

## Desafios

### O salário segue uma distribuição normal?

### Para os campos com valores nulos, como você pensaria em tratá-los?

### Você conseguiria criar uma nova variável com base nas informações existentes?